.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cae1f1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #03212cf3;
  border: 1px solid #007bff;
  border-radius: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  margin: 10px 0;
  padding: 0;
}

.inputs input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #007bff;
}
.inputs input:focus {
  border: 2px solid #007bff;
  outline: none;
}

.login-form-title {
  text-align: center;
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .login-form {
    padding: 0 10px;
  }
}
