.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  margin: 10px 0;
  padding: 0;
}

.inputs input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.login-form-title {
  text-align: center;
  color: #007bff;
}
