.chat-container {
  display: flex;
  height: calc(100vh - 110px);
  width: 50vw;
}

.chat-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  border-right: 1px solid #d0d0d0;
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.chat-sidebar-header {
  width: 100%;
  text-align: center;
  border: none;
  color: #007bff;
}

.chat-search-bar {
  padding: 10px;
  width: 100%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d0d0d0;
}

.chat-search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
}

.friends-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.message-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
