.side-menu-container {
  flex: 0 0 15%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #4465a2;
  border-radius: 10px;
  overflow: auto;
  text-transform: capitalize;
  color: aliceblue;
}

.side-menu-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.side-menu-avatar p {
  margin: 10px 0;
  border-bottom: 1px solid #8bcbeb;
}

.side-menu-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.side-menu-container ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}

.side-menu-icon {
  font-size: 1.25rem;
}

.logout {
  display: flex;
  padding: 10px 0;
  gap: 1rem;
  cursor: pointer;
  margin-top: auto;
}

.side-menu-link {
  display: flex;
  color: aliceblue;
  text-decoration: none;
  padding-left: 10px;
}

.side-menu-link p {
  padding-left: 10px;
}
