.container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
  width: 100vw; /* Full viewport width */
  box-shadow: 0 2px 4px rgba(210, 207, 207, 0.1);
  position: fixed; /* Fix the header at the top */
  top: 0; /* Position it at the top */
  /* z-index: 1000; Ensure it stays above other content */
}

.Logo {
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 10px;
}

.navLinks {
  display: flex;
  gap: 15px;
  padding-right: 10px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #16589f;
}
